* {
    font-family: sans-serif;
    box-sizing: border-box;
}

.container {
    max-width: 100vw;
    max-height: 100vh;
    aspect-ratio: 1 / 1;
    background-color: burlywood;
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.row {
    flex: auto;
    display: flex;
    gap: 1px;
}

.square {
    flex: auto;
}